<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="testsection2" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
    <section name="TypedDataConfig" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
    <sectionGroup name="myCustomGroup">
      <section name="mysection" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
    </sectionGroup>
  </configSections>

  <myCustomGroup>
    <mysection>
      <Configs>
      <ConfigurationGroup name="client1">
        <ValueItems>
          <ValueItem key="key2" value="value2"/>
          <ValueItem key="key3" value="value3"/>
          <ValueItem key="key4" value="value4"/>
          <ValueItem key="key5" value="7"/>
          <ValueItem key="key6" value="0.6"/>
        </ValueItems>
        <Collections>
          <Collection name="col1">
              <ValueItems>
                <ValueItem key="key2" value="value2"/>
                <ValueItem key="key3" value="value3"/>
              </ValueItems>    
          </Collection>
          <Collection name="col2">
            <ValueItems>
              <ValueItem key="key3" value="2"/>
              <ValueItem key="key4" value="4"/>
              <ValueItem key="key5" value="8"/>
            </ValueItems>
            <Collections>
              <Collection name="col3">
                <ValueItems>
                  <ValueItem key="key2a" value="value2a"/>
                  <ValueItem key="key3a" value="value3a"/>
                </ValueItems>
              </Collection>
            </Collections>
          </Collection>
        </Collections>      
      </ConfigurationGroup>
      </Configs>
    </mysection>
  </myCustomGroup>

  <testsection2>
    <Configs>
      <ConfigurationGroup name="clienta">
        <ValueItems>
          <ValueItem key="key2" value="valueabc"/>          
        </ValueItems>       
      </ConfigurationGroup>
    <ConfigurationGroup name="clientb">
      <ValueItems>
        <ValueItem key="key23" value="valueabc1"/>
        <ValueItem key="key43" value="valueabc4"/>
      </ValueItems>
    </ConfigurationGroup>
    </Configs>
  </testsection2>

  <TypedDataConfig>
    <Configs>
      <ConfigurationGroup name="model">
        <ValueItems>
          <ValueItem key="CanExecute" value="true"/>
          <ValueItem key="Description" value="domain model template desciption field"/>
          <ValueItem key="NumberUnits" value="5"/>
          <ValueItem key="ModelType" value="TheirType"/>
          <ValueItem key="MySecretNumber" value="2"/>
        </ValueItems>
      </ConfigurationGroup>
    </Configs>
  </TypedDataConfig>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>