#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

/SimpleIoCContainer/obj
/SimpleIoCContainer/bin
/simpleioccontainer/obj
/ReflectionUtility.Test/bin
/ReflectionUtility.Test/obj
/ReflectionUtility/obj
/ReflectionUtility/bin
/LocateThis/obj
/LocateThis/bin
/Extensions.Test/obj
/Extensions.Test/bin
/Extensions/obj
/Extensions/bin
/ClassLocator.Test/bin
/ClassLocator.Test/obj
/ClassLocator/obj
/ClassLocator/bin
/AssemblyLocator.Test/obj
/AssemblyLocator.Test/bin
/AssemblyLocator/obj
/AssemblyLocator/bin