<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="domainModelTemplate" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
  </configSections>


  <domainModelTemplate>
    <Configs>
      <ConfigurationGroup name="model">
        <ValueItems>
          <ValueItem key="ShouldExecute" value="false"/>
          <ValueItem key="description" value="domain model template desciption field"/>
          <ValueItem key="noUnits" value="5"/>
          <ValueItem key="domainType" value="TheirType"/>
        </ValueItems>
        <Collections>
          <Collection name="Contacts">
            <ValueItems>
              <ValueItem key="person1" value="Jon"/>
              <ValueItem key="person2" value="Jane"/>
              <ValueItem key="person3" value="Jack"/>
              <ValueItem key="person4" value="Simon"/>
              <ValueItem key="person5" value="Charlotte"/>
            </ValueItems>
          </Collection>
        </Collections>
      </ConfigurationGroup>
    </Configs>
  </domainModelTemplate>

</configuration>