<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="tasks" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
  </configSections>

  <tasks>
    <Configs>
      <ConfigurationGroup name="model">
        <ValueItems>
          <ValueItem key="CanExecute" value="true"/>
          <ValueItem key="Value" value="2"/>
        </ValueItems>
        <Collections>
          <Collection name="Task1">
            <ValueItems>
              <ValueItem key="CanExecute" value="true"/>
              <ValueItem key="Description" value="task number 1"/>
            </ValueItems>    
          </Collection>
          <Collection name="Task2">
            <ValueItems>
              <ValueItem key="CanExecute" value="false"/>
              <ValueItem key="Description" value="task number 2"/>
            </ValueItems>
          </Collection>
          <Collection name="Task3">
            <ValueItems>
              <ValueItem key="Description" value="task number 3"/>
              <ValueItem key="Value" value="23" />
            </ValueItems>
          </Collection>
        </Collections>
      </ConfigurationGroup>
    </Configs>
  </tasks>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>