<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="testsection2" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
    <sectionGroup name="myCustomGroup">
      <section name="mysection" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
    </sectionGroup>
  </configSections>

  <myCustomGroup>
    <mysection>
      <Configs>
        <ConfigurationGroup name="client1">
          <ValueItems>
            <ValueItem key="key2" value="value2"/>
            <ValueItem key="key3" value="value3"/>
            <ValueItem key="key4" value="value4"/>
            <ValueItem key="key5" value="7"/>
            <ValueItem key="key6" value="0.6"/>
          </ValueItems>
        </ConfigurationGroup>
        <ConfigurationGroup name="client2">
          <ValueItems>
            <ValueItem key="keya" value="abc"/>
            <ValueItem key="key2" value="123"/>
          </ValueItems>
        </ConfigurationGroup>
      </Configs>
    </mysection>
  </myCustomGroup>

  <testsection2>
    <Configs>
      <ConfigurationGroup name="clienta">
        <ValueItems>
          <ValueItem key="key2" value="valueabc"/>
        </ValueItems>
      </ConfigurationGroup>
    </Configs>
  </testsection2>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
